<!-- Main Container -->
<main id="main-container">
    <!-- Hero -->
    <div class="bg-body-light">
        <div class="content content-full">
            <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center">
                <h1 class="flex-grow-1 fs-3 fw-semibold my-2 my-sm-3">News</h1>
                <nav class="flex-shrink-0 my-2 my-sm-0 ms-sm-3" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">News</li>
                        <li class="breadcrumb-item active" aria-current="page">lists</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <!-- END Hero -->

    <!-- Page Content -->
    <div class="content">
        <!-- Latest Orders + Stats -->
        <div class="row">
            <div class="col-md-12">
                <!--  Latest Orders -->
                <div class="block block-rounded block-mode-loading-refresh">
                    <div class="block-header block-header-default">
                        <h3 class="block-title">
                            news lists
                        </h3>
                    </div>
                    <div class="block-content">
                        <div class="row mb-3">
                            <div class="col-md-12 text-end">
                                <a routerLink="add" class="btn btn-primary btn-hero"><i class="fas fa-plus"></i> Add</a>
                            </div>
                        </div>
                        <table class="table table-striped table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-center">No.</th>
                                    <th>subject</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let a of fakeArray; let index = index">
                                    <td class="text-center">{{index+1}}</td>
                                    <td>Lorem ipsum dolor sit amet.</td>
                                    <td class="text-center">
                                        <a href="javascript:void(0)" routerLink="add" class="btn btn-primary btn-sm btn-hero me-1"><i class="fas fa-eye"></i> View</a>
                                        <a href="javascript:void(0)" class="btn btn-danger btn-sm btn-hero me-1"><i class="fas fa-trash"></i> Delete</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- END Latest Orders -->
            </div>
        </div>
        <!-- END Latest Orders + Stats -->
    </div>
    <!-- END Page Content -->
</main>
<!-- END Main Container -->