<!-- Main Container -->
<main id="main-container">
    <!-- Hero -->
    <div class="bg-body-light">
        <div class="content content-full">
            <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center">
                <h1 class="flex-grow-1 fs-3 fw-semibold my-2 my-sm-3">news</h1>
                <nav class="flex-shrink-0 my-2 my-sm-0 ms-sm-3" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">news</li>
                        <li class="breadcrumb-item active" aria-current="page">Detail</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <!-- END Hero -->

    <!-- Page Content -->
    <div class="content">
        <!-- Latest Orders + Stats -->
        <div class="row">
            <div class="col-md-12">
                <!--  Latest Orders -->
                <div class="block block-rounded block-mode-loading-refresh">
                    <div class="block-header block-header-default">
                        <h3 class="block-title">
                            news
                        </h3>
                    </div>
                    <div class="block-content py-3">
                        <div class="row mb-5">
                            <div class="col-md-6">
                                <a href="javascript:void(0)" routerLink="detail"><img src="assets/theme/media/photos/photo22.jpg" alt="" class="w-100"></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse et tempora asperiores nostrum minus officiis expedita, vel eveniet aliquid ducimus nobis, maiores quis tenetur quam rem. Consectetur, modi praesentium. Explicabo, debitis maiores quis cumque veniam nihil recusandae asperiores iusto magni optio dolores a, qui atque nulla ad repellendus! Molestiae, ex?</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END Latest Orders -->
            </div>
        </div>
        <!-- END Latest Orders + Stats -->
    </div>
    <!-- END Page Content -->
</main>
<!-- END Main Container -->