<!-- Main Container -->
<main id="main-container">
    <!-- Hero -->
    <div class="bg-body-light">
        <div class="content content-full">
            <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center">
                <h1 class="flex-grow-1 fs-3 fw-semibold my-2 my-sm-3">Contractor Evaluation</h1>
                <nav class="flex-shrink-0 my-2 my-sm-0 ms-sm-3" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)" routerLink="../">Analysis</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Contractor Evaluation</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <!-- END Hero -->

    <!-- Page Content -->
    <div class="content">
        <!-- Latest Orders + Stats -->
        <div class="row">
            <div class="col-md-12">
                <!--  Latest Orders -->
                <div class="block block-rounded block-mode-loading-refresh">
                    <div class="block-content py-3">
                       <div class="row">
                        <div class="col-md-12 mb-3">
                            <label for="">Contractor Evaluation</label>
                        </div>
                        <div class="col-md-12">
                            <button class="btn btn-primary btn-hero me-3" routerLink="detail">BIG</button>
                            <button class="btn btn-warning btn-hero" routerLink="detail">JV</button>
                        </div>
                       </div>
                    </div>
                </div>
                <!-- END Latest Orders -->
            </div>
        </div>
        <!-- END Latest Orders + Stats -->
    </div>
    <!-- END Page Content -->
</main>
<!-- END Main Container -->