<!-- Main Container -->
<main id="main-container">
    <!-- Hero -->
    <div class="bg-body-light">
        <div class="content content-full">
            <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center">
                <h1 class="flex-grow-1 fs-3 fw-semibold my-2 my-sm-3">User Permission Add</h1>
                <nav class="flex-shrink-0 my-2 my-sm-0 ms-sm-3" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">user permission</li>
                        <li class="breadcrumb-item">lists</li>
                        <li class="breadcrumb-item active" aria-current="page">add</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <!-- END Hero -->

    <!-- Page Content -->
    <div class="content">
        <!-- Latest Orders + Stats -->
        <div class="row">
            <div class="col-md-12">
                <!--  Latest Orders -->
                <div class="block block-rounded">
                    <div class="block-header block-header-default">
                        <h3 class="block-title">
                            detail
                        </h3>
                    </div>
                    <div class="block-content py-3">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="">Name</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="">Username</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="">Password</label>
                                <input type="password" class="form-control">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="">Confirm Password</label>
                                <input type="password" class="form-control">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="">Permission</label>
                                <select name="" id="" class="form-select">
                                    <option value="">--select--</option>
                                    <option value="">User</option>
                                    <option value="">Sale</option>
                                    <option value="">Vendor</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button class="btn btn-success btn-hero me-1"><i class="fas fa-save"></i> Submit</button>
                                <a href="#" routerLink="/admin/user" class="btn btn-danger btn-hero"><i class="fas fa-cancel"></i> Cannel</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END Latest Orders -->
            </div>
        </div>
        <!-- END Latest Orders + Stats -->
    </div>
    <!-- END Page Content -->
</main>
<!-- END Main Container -->