<!-- Main Container -->
<main id="main-container">
    <!-- Hero -->
    <div class="bg-body-light">
        <div class="content content-full">
            <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center">
                <h1 class="flex-grow-1 fs-3 fw-semibold my-2 my-sm-3">BIG PROCUREMENT PLATFORM</h1>
                <nav class="flex-shrink-0 my-2 my-sm-0 ms-sm-3" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">BIG PROCUREMENT PLATFORM</li>
                        <li class="breadcrumb-item active" aria-current="page">lists</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <!-- END Hero -->

    <!-- Page Content -->
    <div class="content">
        <!-- Latest Orders + Stats -->
        <div class="row">
            <div class="col-md-12">
                <!--  Latest Orders -->
                <div class="block block-rounded block-mode-loading-refresh">
                    <div class="block-header block-header-default">
                        <h3 class="block-title">
                            Project lists
                        </h3>
                    </div>
                    <div class="block-content">
                        <div class="row">
                            <div class="col-md-12 text-end mb-3">
                                <a href="javascrip:void(0)" class="btn btn-primary btn-hero" routerLink="add"><i class="fas fa-plus"></i> Add</a>
                            </div>
                        </div>
                        <table class="table table-striped table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>Expiditor</th>
                                    <th>Project Name</th>
                                    <th>Package</th>
                                    <!-- <th>PR No.</th> -->
                                    <!-- <th>PO No.</th> -->
                                    <th>Status</th>
                                    <th>Vendor Name</th>
                                    <!-- <th>Description</th> -->
                                    <th>Vendor Print Submit</th>
                                    <th>Action</th>
                                    <!-- <th>Inspection</th> -->
                                    <!-- <th>ETA Plan</th> -->
                                    <!-- <th>Delivery Status</th> -->
                                    <!-- <th>Delivery Place</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Lorem, ipsum.</td>
                                    <td><a href="javascript:void(0)" routerLink="detail">Lorem ipsum dolor sit.</a></td>
                                    <td>lorem</td>
                                    <td>Apporved</td>
                                    <td>name</td>
                                    <td>print</td>
                                    <td class="text-center">
                                        <a href="javascript:void(0)" class="btn btn-primary btn-hero btn-sm" routerLink="detail"><i class="fas fa-eye"></i></a>
                                        <!-- <select name="" id="" class="form-select">
                                            <option value="">Submit for review</option>
                                            <option value="">Comment</option>
                                            <option value="">Apporved</option>
                                            <option value="">Approved with comment</option>
                                            <option value="">Approved for contruction</option>
                                        </select> -->
                                    </td>
                                </tr>
                                <tr>
                                    <td>Lorem, ipsum.</td>
                                    <td><a href="javascript:void(0)" routerLink="detail">Lorem ipsum dolor sit.</a></td>
                                    <td>lorem</td>
                                    <td>Comment</td>
                                    <td>name 2</td>
                                    <td>print</td>
                                    <td class="text-center">
                                        <a href="javascript:void(0)" class="btn btn-primary btn-hero btn-sm" routerLink="detail"><i class="fas fa-eye"></i></a>
                                        <!-- <select name="" id="" class="form-select">
                                            <option value="">Submit for review</option>
                                            <option value="">Comment</option>
                                            <option value="">Apporved</option>
                                            <option value="">Approved with comment</option>
                                            <option value="">Approved for contruction</option>
                                        </select> -->
                                    </td>
                                </tr>
                                <tr>
                                    <td>Lorem, ipsum.</td>
                                    <td><a href="javascript:void(0)" routerLink="detail">Lorem ipsum dolor sit.</a></td>
                                    <td>lorem</td>
                                    <td>Approved for contruction</td>
                                    <td>name 3</td>
                                    <td>print</td>
                                    <td class="text-center">
                                        <a href="javascript:void(0)" class="btn btn-primary btn-hero btn-sm" routerLink="detail"><i class="fas fa-eye"></i></a>
                                        <!-- <select name="" id="" class="form-select">
                                            <option value="">Submit for review</option>
                                            <option value="">Comment</option>
                                            <option value="">Apporved</option>
                                            <option value="">Approved with comment</option>
                                            <option value="">Approved for contruction</option>
                                        </select> -->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- END Latest Orders -->
            </div>
        </div>
        <!-- END Latest Orders + Stats -->
    </div>
    <!-- END Page Content -->
</main>
<!-- END Main Container -->