<!-- Main Container -->
<main id="main-container">
    <!-- Hero -->
    <div class="bg-body-light">
        <div class="content content-full">
            <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center">
                <h1 class="flex-grow-1 fs-3 fw-semibold my-2 my-sm-3">detail</h1>
                <nav class="flex-shrink-0 my-2 my-sm-0 ms-sm-3" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">Analysis</li>
                        <li class="breadcrumb-item">Contractor Evaluation</li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)" routerLink="../">question</a></li>
                        <li class="breadcrumb-item active" aria-current="page">detail</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <!-- END Hero -->

    <!-- Page Content -->
    <div class="content">
        <!-- Latest Orders + Stats -->
        <div class="row">
            <div class="col-md-12">
                <!--  Latest Orders -->
                <div class="block block-rounded block-mode-loading-refresh">
                    <div class="block-content py-3">
                        <div class="row">
                            <div class="col-md-12 text-end mb-3">
                                <button class="btn btn-primary btn-hero">Add</button>
                            </div>
                            <div class="col-md-12 mb-3">
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <td class="text-center"><a href="javascrip:void(0)" class="btn btn-danger"><i class="fas fa-trash"></i></a></td>
                                            <td>
                                                <textarea name="" id="" cols="30" rows="2" class="form-control">1.มีอุปกรณ์ปัองกันภัยส่วนบุคคลให้กับพนักงานที่ปฏิบัติงานอย่างเหมาะสม</textarea>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center"><a href="javascrip:void(0)" class="btn btn-danger"><i class="fas fa-trash"></i></a></td>
                                            <td>
                                                <textarea name="" id="" cols="30" rows="2" class="form-control">2.ไม่เคยเกิด/เป็นต้นเหตุให้เกิดอุบัติเหตุมีผลกระทบกับสิ่งแวดล้อมภายในพื้นที่ของ BIG หรือ ลูกค้า</textarea>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center"><a href="javascrip:void(0)" class="btn btn-danger"><i class="fas fa-trash"></i></a></td>
                                            <td>
                                                <textarea name="" id="" cols="30" rows="2" class="form-control">3.ให้ความร่วมมือกับผู้ขอซื้อ หรือ ผู้ใช้บริการอย่างดี และ ปฏิบัติตามกฎระเบียบที่ได้รับทราบอย่างเคร่งครัด</textarea>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-12">
                                <button class="btn btn-primary btn-hero me-3">Save</button>
                                <button class="btn btn-light btn-hero" routerLink="../">back</button>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <!-- END Latest Orders -->
            </div>
        </div>
        <!-- END Latest Orders + Stats -->
    </div>
    <!-- END Page Content -->
</main>
<!-- END Main Container -->