<!-- Main Container -->
<main id="main-container">
    <!-- Hero -->
    <div class="bg-body-light">
        <div class="content content-full">
            <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center">
                <h1 class="flex-grow-1 fs-3 fw-semibold my-2 my-sm-3">detail</h1>
                <nav class="flex-shrink-0 my-2 my-sm-0 ms-sm-3" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">Analysis</li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)" routerLink="../">Contractor Evaluation</a></li>
                        <li class="breadcrumb-item active" aria-current="page">detail</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <!-- END Hero -->

    <!-- Page Content -->
    <div class="content">
        <!-- Latest Orders + Stats -->
        <div class="row">
            <div class="col-md-12">
                <!--  Latest Orders -->
                <div class="block block-rounded block-mode-loading-refresh">
                    <div class="block-content py-3">
                        <div class="row">
                            <div class="col-md-12 mb-5">
                                <div class="row justify-content-end">
                                    <div class="col-1 mb-3 text-center">
                                        <star-rating [starType]="'svg'" [rating]="3" [numOfStars]="3"></star-rating>
                                        <label for="">ดี</label>
                                    </div>
                                    <div class="col-1 mb-3 text-center">
                                        <star-rating [starType]="'svg'" [rating]="3" [numOfStars]="2"></star-rating>
                                        <label for="">พอใช้</label>
                                    </div>
                                    <div class="col-1 mb-3 text-center">
                                        <star-rating [starType]="'svg'" [rating]="3" [numOfStars]="1"></star-rating>
                                        <label for="">ต้องปรับปรุง</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-10 mb-3">
                                <p>1.มีอุปกรณ์ปัองกันภัยส่วนบุคคลให้กับพนักงานที่ปฏิบัติงานอย่างเหมาะสม <br> Provide PPE to employee properly</p>
                            </div>
                            <div class="col-md-2 mb-3">
                                <star-rating [starType]="'svg'" [rating]="0" [numOfStars]="3"></star-rating>
                            </div>
                            <div class="col-md-10 mb-3">
                                <p>2.ไม่เคยเกิด/เป็นต้นเหตุให้เกิดอุบัติเหตุมีผลกระทบกับสิ่งแวดล้อมภายในพื้นที่ของ BIG หรือ ลูกค้า  <br> Have accident or be caused of accident in BIG area or BIG customer site</p>
                            </div>
                            <div class="col-md-2 mb-3">
                                <star-rating [starType]="'svg'" [rating]="0" [numOfStars]="3"></star-rating>
                            </div>
                            <div class="col-md-10 mb-3">
                                <p>3.ให้ความร่วมมือกับผู้ขอซื้อ หรือ ผู้ใช้บริการอย่างดี และ ปฏิบัติตามกฎระเบียบที่ได้รับทราบอย่างเคร่งครัด<br> Provide good coordination and follow rules & regulation on site accordingly</p>
                            </div>
                            <div class="col-md-2 mb-3">
                                <star-rating [starType]="'svg'" [rating]="0" [numOfStars]="3"></star-rating>
                            </div>
                            <div class="col-md-12 mb-3">
                                <label for="">ความเห็นเพิ่มเติมอื่นๆ </label>
                                <textarea name="" id="" cols="30" rows="5" class="form-control"></textarea>
                            </div>
                            <div class="col-md-12 mb-3">
                                <div class="mb-4">
                                    <div class="space-x-2">
                                      <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="example-radios-inline1" name="example-radios-inline" value="option1" checked="">
                                        <label class="form-check-label" for="example-radios-inline1">เห็นควรใช้งานต่อ</label>
                                      </div>
                                      <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="example-radios-inline2" name="example-radios-inline" value="option2">
                                        <label class="form-check-label" for="example-radios-inline2">เห็นควรใช้งานต่อและปรับปรุง</label>
                                      </div>
                                      <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="example-radios-inline3" name="example-radios-inline" value="option2">
                                        <label class="form-check-label" for="example-radios-inline3">ไม่เห็นควรให้ใช้งานต่อ</label>
                                      </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button class="btn btn-primary btn-hero">Save</button>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <!-- END Latest Orders -->
            </div>
        </div>
        <!-- END Latest Orders + Stats -->
    </div>
    <!-- END Page Content -->
</main>
<!-- END Main Container -->