/* You can add global styles to this file, and also import other style files */
// rating star
@import '~css-star-rating/css/star-rating.min.css';

$colorTheme: #66c292;
// html 
html,body {
    font-family:  Poppins,Helvetica,"sans-serif";
}

// header
.bg-header-dark {
    background-color: $colorTheme !important;
}
#page-container.page-header-dark #page-header {
    background-color: $colorTheme !important;
}

// background color
.bg-theme {
    background-color: $colorTheme !important;
}